<!DOCTYPE html>
<html layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}"></title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<main class="min-w-full" layout:fragment="main">

    <div class="my-12 flex flex-col justify-content align-items mx-auto w-2/3 max-w-2xl ">

        <div class=" flex flex-col justify-center align-items gap-3 mt-3">
            <h1 class="text-center text-green-800 text-3xl font-bold my-12" th:text="${product.name}"></h1>
            <img id="imgId" th:src="${product.imageUrl}" th:if="${product.imageUrl != null}"/>
            <p class="m-12 text-lg" th:text="${product.content}"></p>
            <p class="m-12 text-lg" th:text="|가격 : ${product.salePrice} 원|"></p>

            <form id="customForm" method="POST" th:action="@{/product/order}"
                  class="w-full max-w-lg flex flex-col justify-content align-items gap-3 mx-auto">
                <div class="inline-block my-4">
                    <div class="flex">
                        <input type="hidden" name="id" th:value="${product.id}">
                        <button type="button" class="bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded-l"
                                onclick="decrementCount()">-
                        </button>
                        <input name="count" id="countInput"
                               class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 rounded-none shadow leading-tight focus:outline-none focus:shadow-outline text-center"
                               type="text" value="1" readonly>
                        <button type="button" class="bg-gray-300 text-gray-700 font-bold py-2 px-4 rounded-r"
                                onclick="incrementCount()">+
                        </button>
                    </div>
                </div>
                <button class="btn btn-outline btn-success mt-4" onclick="requestBasket()" type="button">
                    장바구니에 담기
                </button>
                <button class="btn btn-success mb-20" onclick="requestOrder(this)">주문하기</button>
            </form>
            <ul role="list" id="reviewList" class="divide-y divide-gray-100 mt-3 flex-auto w-full"
                th:if="${!#lists.isEmpty(reviewList)}">
                <li th:each="review, i : ${reviewList}" class="flex justify-between gap-x-6 py-5">
                    <div class="flex gap-x-4 mx-2">
                        <svg th:data-jdenticon-value="|${review.getUsername()}|" width="50" height="50"
                             class="rounded-full"></svg>
                        <div class="min-w-0 flex-auto">
                            <div>
                                <span class="text-xl leading-5 text-gray-500 mr-2" th:text="${review.title}"></span>
                            </div>
                            <p class="mt-1  text-xs leading-5 text-gray-500" th:text="${review.content}"></p>
                        </div>
                    </div>
                    <div class="flex flex-col items-end mx-2">
                        <p class="text-xs font-semi bold leading-6 text-gray-900" th:text="${review.username}"></p>
                        <p class="leading-6 text-sm text-gray-900"
                           th:text="|리뷰 날짜  ${#temporals.format(review.reviewDate,'yyyy-MM-dd')}|"></p>
                    </div>
                </li>
            </ul>
            <div class="flex justify-center items-center mx-auto mt-3 p-3">
                <button id="reviewButton" class="btn btn-outline btn-accent flex-grow-0 flex-shrink-0 w-full max-w-xs"
                        onclick="moreReview()">리뷰 더보기
                </button>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        let count = 1;
        const maxCount =/*[[${product.count}]]*/ 10;
        let offset = /*[[${reviewList.size+1}]]*/ 0;
        const productId =/*[[${product.id}]]*/ null;
    </script>
    <script th:src="@{/js/productDetail.js}"></script>
</main>
</body>
</html>