<html layout:decorate="~{common/layout.html}">

<head>
    <title>배송지 수정</title>
</head>

<body>

<main layout:fragment="main"  class="flex flex-col container mx-auto min-h-screen max-w-2xl">
    <script>
        function Validation__modifyAddr(form) {

            if (form.name.value.trim().length == 0) {
                toastWarning("이름을 정확히 입력해주세요.");
                form.name.focus();
                return;
            }

            if (form.addr.value.trim().length == 0) {
                toastWarning("주소를 정확히 입력해주세요.");
                form.addr.focus();
                return;
            }

            if (form.addrDetail.value.trim().length == 0) {
                toastWarning("상세 주소를 정확히 입력해주세요.");
                form.addrDetail.focus();
                return;
            }

            if (form.zipCode.value.trim().length < 5 || form.zipCode.value.trim().length > 7) {
                toastWarning("우편번호를 정확히 입력해주세요.");
                form.zipCode.focus();
                return;
            }

            if (form.phoneNumber.value.trim().length == 0) {
                toastWarning("연락처를 정확히 입력해주세요.");
                form.phoneNumber.focus();
                return;
            }

            form.submit();
        }
    </script>

    <h1 class="text-2xl mt-8 font-black">배송지 수정</h1>
    <form class="w-full" th:action="@{/address/create}" th:object="${AddressForm}" method="POST"
          onsubmit="Validation__modifyAddr(this); return false;">
        <div>
            <input type="text" name="name" placeholder="이름" class="input input-bordered w-full mt-12" />
        </div>
        <div>
            <input type="text" name="addr" placeholder="주소" class="input input-bordered w-full mt-12" />
        </div>
        <div>
            <input type="text" name="addrDetail" placeholder="상세 주소" class="input input-bordered w-full mt-12" />
        </div>
        <div>
            <input type="text" name="zipCode" placeholder="우편번호" class="input input-bordered w-full mt-12" />
        </div>
        <div>
            <input type="text" name="phoneNumber" placeholder="연락처" class="input input-bordered w-full mt-12" />
        </div>
        <div>
            <h2 class="mt-12">기본 배송지 여부</h2>
            <input type="checkbox" name="isDefault" class="checkbox checkbox-success" checked />
        </div>
        <div>
            <input type="submit" value="저장하기" class="btn btn-outline w-full mt-12">
        </div>
    </form>
</main>

</body>

</html>