<html layout:decorate="~{common/layout.html}">

<head>
    <title>회원 정보 수정 | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="w-screen h-full">
    <script>
        function Validation__modify(form) {

            const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!regex.test(form.email.value.trim())) {
                toastWarning("이메일 주소를 정확히 입력해주세요.");
                form.email.focus();
                return;
            }

            if (form.phoneNumber.value.trim().length === 0) {
                toastWarning("휴대폰 번호를 정확히 입력해주세요.");
                form.phoneNumber.focus();
                return;
            }

            form.submit();
        }
    </script>

    <div class="w-full h-full flex flex-col justify-center items-center">
    <h1 class="text-2xl mt-8 font-black">회원 정보 수정</h1>
    <form class="w-6/12" th:action="@{/member/modify}" th:object="${MemberModifyDto}" method="POST"
          onsubmit="Validation__modify(this); return false;">
        <div>
            <input type="text" name="email" placeholder="E-mail" class="input input-bordered w-full mt-12" />
        </div>
        <div>
            <input type="text" name="phoneNumber" placeholder="Phone Number" class="input input-bordered w-full mt-12" />
        </div>
        <div>
            <input type="submit" value="저장하기" class="btn btn-outline w-full my-12">
        </div>
    </form>
    </div>
</main>

</body>

</html>