<html layout:decorate="~{common/layout.html}">

<head>
    <title>나의 주문 내역 | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="w-screen h-full">
    <div th:if="${#lists.isEmpty(orderList)}" class="w-full h-full flex justify-center items-center">
        <p class="text-2xl">주문 내역이 존재하지 않습니다.</p>
    </div>
    <section th:if="${!#lists.isEmpty(orderList)}" class="w-full h-full flex flex-col justify-center items-center">
        <div th:each="order: ${orderList}" class="card bg-base-100 shadow-lg w-6/12 mt-8 mb-8">
            <figure>
                <div id="imgId" th:if="${order.imageUrl != null}" style="width:40vh; height:20vh;">
                    <img th:src="${order.imageUrl}" style="width:100%; height:100%;" />
                </div>
            </figure>
            <div class="card-body">
                <h1 th:text="${#temporals.format(order.getCreateDate(),'yyyy-MM-dd')}"></h1>
                <h2 class="card-title" th:text="|${order.getTotalPrice()}원|"></h2>
                <p th:text="${order.orderName}">산세베리아 외 3종</p>
                <div class="card-actions justify-end">
                    <a th:href="|@{/order/orderInfo/{id}(id=${order.id})}|" class="btn btn-outline w-full mt-12">주문 상세 내역</a>
                </div>
            </div>
        </div>
    </section>
</main>

</body>

</html>