<html layout:decorate="~{common/layout.html}">

<head>
    <title>My Orderlist</title>
</head>

<body>

<main layout:fragment="main" class="flex items-center justify-center min-h-screen">
    <div th:if="${orderList.isEmpty()}">
        <p class="text-2xl">주문 내역이 존재하지 않습니다.</p>
    </div>
    <section th:if="!${orderList.isEmpty()}">
        <div th:each="order: ${orderList}" class="card bg-base-100 shadow-xl w-full mt-8 mb-8">
            <figure>
                <div style="width:100vh; height:20vh; background-color:green;"></div>
            </figure>
            <div class="card-body">
                <h1>2023.05.25.18:20</h1>
                <h2 class="card-title" th:text="${order.getPrice()}"></h2>
                <p>산세베리아 외 3종</p>
                <div class="card-actions justify-end">
                    <a href="" class="btn btn-outline w-full mt-12">주문 상세 내역</a>
                </div>
            </div>
        </div>
    </section>
</main>

</body>

</html>