<html layout:decorate="~{common/layout.html}">

<head>
    <title>My Page</title>
</head>

<body>

    <main layout:fragment="main" class="flex items-center justify-center container mx-auto min-h-screen max-w-2xl">
        <div th:if="${#lists.isEmpty(tests)}">
            <p>테스트 결과 내역이 존재하지 않습니다.</p>
        </div>
        <div th:unless="${#lists.isEmpty(tests)}">
            <div th:each="test : ${tests}">
                <h2 class="text-2xl text-center py-12" th:text="${test.title}"></h2>
                <p class="mb-2" th:text="${test.content}"></p>
            </div>
        </div>


    </main>

</body>

</html>