<html layout:decorate="~{common/layout.html}">

<head>
    <title>My Page</title>
</head>

<body>

    <main layout:fragment="main" class="flex items-center justify-center container mx-auto min-h-screen max-w-2xl">
        <div th:if="${#lists.isEmpty(tests)}">
            <p>테스트 결과 내역이 존재하지 않습니다.</p>
        </div>
        <div th:unless="${#lists.isEmpty(tests)}">
            <div th:each="test : ${tests}">
                <div class="card w-full bg-base-100 shadow-2xl my-4">
                    <figure class="px-10 pt-10">
                        <img th:src="@{${test.testImgUrl}}" class="rounded-xl" />
                    </figure>
                    <div class="card-body items-center text-center">
                        <h1 class="card-title" th:text="${test.title}"></h1>
                        <p th:text="${test.content}"></p>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>

</html>