<html layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANBTI 테스트</title>
    <meta name="description" content="나에게 딱 맞는 식물을 MBTI를 기반으로 추천해주는 테스트">
    <meta property="og:type" content="website">
    <meta property="og:title" content="식물 유형 테스트">
    <meta property="og:description" content="나에게 딱 맞는 식물을 MBTI를 기반으로 추천해주는 테스트">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>
<main layout:fragment="main">
    <article class="container flex justify-center min-h-screen">
    <article class="start text-center">
        <h1 class="mt-5 text-center">식물 유형 테스트</h1>
        <h5 class="mt-2 text-center">어느 날 갑자기 내가 꽃집 사장님 된다면?</h5>
        <button type="button" class=" mt-5 btn btn-outline btn-success" onclick='start();'>테스트 시작하기</button>
    </article>
    <article class="intro hidden text-center">
        <h1 class="mt-5 text-center">PLANBTI</h1>
        <h5 class="mt-5 text-center">어느 날 눈을 떠보니 <br> 한 꽃집에 사장이 되어 하루를 시작한다. <br><br>여기가 어디지...?</h5>
        <br><br>
        <button type="button" class="mt btn btn-outline btn-success" onclick='intro();'>테스트 시작하기</button>
    </article>
    <article class="question hidden text-center">
        <div class="progress mt-5">
            <div class="progress-bar bg-success" role="progressbar" style="width: calc(100/12*1%)"></div>
        </div>
        <h2 id="questionTitle" class="text-center mt-5">문제</h2>
        <input id="type" type="hidden" value="EI">
        <button id="A" type="button" class="mt-5 btn btn-outline btn-success">Primary</button>
        <button id="B" type="button" class="mt-5 btn btn-outline btn-success">Primary</button>
    </article>
    <article class="result hidden text-center">
<!--        <img src="${imageUrl}" alt="Image from Naver">-->
        <div id="chat-container">
        </div>
        <button onclick="refreshPage()" type="button" class="mt-5 btn btn-outline">닫기</button>
        <button onclick="redirectToPage()" type="button" class="mt-5 btn btn-outline">서비스 더 이용하기</button>
    </article>
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

    <input type="hidden" id="EI" value="0">
    <input type="hidden" id="SN" value="0">
    <input type="hidden" id="TF" value="0">
    <input type="hidden" id="JP" value="0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <script th:inline="javascript">
        var num = 1;
        var q = {
            1: {
                "questionTitle": "들어가니 사람들이 \"사장님 안녕하세요\" 하고 인사한다. 이때 나는?",
                "type": "EI",
                "A": "반갑게 인사한다",
                "B": "가볍게 눈 인사만 한다."
            },
            2: {
                "questionTitle": "장미 가시를 손질한다.",
                "type": "SN",
                "A": "가시에 찔리지 않도록 조심한다",
                "B": "가시에 찔려서 피나면 어쩌지…? 가시가 박히면 어떡하지…?"
            },
            3: {
                "questionTitle": "평소 아끼던 꽃이 시들었다. 이때 나의 생각은?",
                "type": "TF",
                "A": "왜 시든거지? 해충이 있었나? 영양제를 알아봐야겠다.",
                "B": "내가 너무 소홀했나봐...미안해..."
            },
            4: {
                "questionTitle": "단골손님으로 보이는 손님이 오셨다 근처에서 사 온 빵을 주시며 이것저것 물어본다",
                "type": "EI",
                "A": "자연스럽게 답을 이어가며 대화한다.",
                "B": "너무 고맙지만 이어지는 대화가 부담스럽게 느껴진다."
            },
            5: {
                "questionTitle": "어떤 손님이 엄청 큰 꽃다발을 주문한다.",
                "type": "SN",
                "A": "꽃을 어떻게 구성할지 생각하며 꽃다발을 주문한다.",
                "B": "이렇게 큰 꽃을 누구한테 선물하려고 하시는걸까? 프로포즈하시나? 기념일이신가?"
            },
            6: {
                "questionTitle": "같이 점심을 먹는 직원이 속이 안 좋다고 같이 못 먹는다고 했다",
                "type": "TF",
                "A": "\"어떻게 아픈데?\"라고 한다.",
                "B": "\"어떻게 속은 괜찮아?\"라며 걱정한다."
            },
            7: {
                "questionTitle": "새로운 꽃을 찾기 위해 여러 꽃을 소개받았다 거기서 마음에 드는 꽃을 발견했다 이때 나의 생각은?",
                "type": "TF",
                "A": "구체적인 꽃의 정보와 예산을 궁금해한다.",
                "B": "\"손님들이 진짜 좋아할 것 같아\" 설렌다"
            },
            8: {
                "questionTitle": "장미를 구매하기 위해 꽃 시장에 들렀다. 나의 행동은?",
                "type": "JP",
                "A": "장미만 사서 온다",
                "B": "프리지어가 너무 예쁘다 프리지어도 산다."
            },
            9: {
                "questionTitle": "요즘 매출이 감소하고 있다고 들었다. 나의 행동은?",
                "type": "JP",
                "A": "기존의 방식을 유지한다.",
                "B": "꽃 시장으로 가서 새로운 꽃을 구매한다."
            },
            10: {
                "questionTitle": "마감 준비하던 직원들이 오랜만에 회식을 하는 게 어떠냐고 물어본다.",
                "type": "EI",
                "A": "이왕 이렇게 된 거 직원들과 빨리 친해져야겠다는 생각에 같이 간다.",
                "B": "피곤해서 빨리 집 가고 싶다는 생각에 거절한다."
            },
            11: {"questionTitle": "주말에 보자고 친구가 연락이 왔다", "type": "JP", "A": "주말에 집에서 푹 쉬기로 했는데…", "B": "좋아!"},
            12: {
                "questionTitle": "드디어 하루를 마치고 눈을 감기 전 드는 생각",
                "type": "SN",
                "A": "오늘 하루도 쉽지 않구나.",
                "B": "눈 뜨면 돌아갈 수 있을까? 그대로면 어떡하지??"
            }
        }
        function start() {
            $(".start").hide();
            $(".intro").show();
        }

        function intro() {
            $(".intro").hide();
            $(".question").show();
            next();
        }

        $("#A").click(function () {
            var type = $("#type").val();
            var preValue = $("#" + type).val();
            $("#" + type).val(parseInt(preValue) + 1);
            next();
        });
        $("#B").click(function () {
            next();
        });

        function refreshPage() {
            location.reload();
        }

        function redirectToPage() {
            window.location.href = /*[[${redirectUrl}]]*/ '';
        }

        function next() {
            if (num == 13) {
                $(".question").hide();
                $(".result").show();
                var message = "";
                var mbti = "";
                ($("#EI").val() < 2) ? mbti += "I" : mbti += "E";
                ($("#SN").val() < 2) ? mbti += "N" : mbti += "S";
                ($("#TF").val() < 2) ? mbti += "F" : mbti += "T";
                ($("#JP").val() < 2) ? mbti += "P" : mbti += "J";
                message += "(이름)" + "(설명)" + "양식으로" + mbti + "에 어울리는 흔한 식물 하나만 추천해줘 \"(이름)\"은 h1 태그로 보여줘";
                $.ajax({
                    url: "/send",
                    type: "POST",
                    data: {message: message},
                    success: function (response) {
                        var chatContainer = $("#chat-container");
                        var assistantMessage = response.choices[0].message.content;
                        var replacedResponse = assistantMessage.replace(/\n/g, "<br>");
                        var jsonString = JSON.stringify(replacedResponse);
                        chatContainer.append("<div class='message'>" + jsonString + "</div>");
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            } else {
                $(".progress-bar").attr('style', 'width: calc(100/12*' + num + '%)');
                $("#questionTitle").html(q[num]["questionTitle"]);
                $("#type").val(q[num]["type"]);
                $("#A").html(q[num]["A"]);
                $("#B").html(q[num]["B"]);
                num++;
            }
        }
    </script>
    </article>
</main>
</body>

</html>