<html layout:decorate="~{common/layout.html}">

<head>
    <title>FAQ | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="w-screen h-full">

    <script>
        function Validation__modifyFaq(form) {

            if(form.title.value.trim().length == 0) {
                toastWarning("제목을 작성해주세요.");
                form.title.focus();
                return;
            }

            if(form.content.value.trim().length == 0) {
                toastWarning("내용을 작성해주세요.");
                form.content.focus();
                return;
            }

            if(form.email.value.trim().length == 0) {
                toastWarning("이메일 주소를 작성해주세요.")
                form.email.focus();
                return;
            }

            form.submit();
        }
    </script>
<div class="w-full h-full flex flex-col justify-center items-center">
    <h1 class="text-2xl font-black">FAQ</h1>
    <form class="w-6/12" th:action="@{/faq/modify/{id}(id=${faq.getId()})}" th:object="${FaqModifyDto}" method="POST"
          onsubmit="Validation__modifyFaq(this); return false;">
        <div>
            <input type="text" name="title" placeholder="제목을 작성해주세요." th:value="${faq.getTitle()}" class="input input-bordered w-full mt-12" />
        </div>
        <div>
            <textarea name="content" class="textarea textarea-bordered w-full h-96 mt-4" placeholder="내용을 작성해주세요." th:value="${faq.getContent()}"></textarea>
            <input type="email" name="email" placeholder="이메일 주소를 작성해주세요." class="input input-bordered w-full mt-12" th:value="${faq.getEmail()}" />
            <input type="submit" value="저장하기" class="btn btn-outline w-full my-12">
        </div>
    </form>
</div>
</main>

</body>

</html>