<!DOCTYPE html>
<html data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/87140d707c.js" crossorigin="anonymous"></script>
    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <script src="/resource/common/common.js"></script>
    <link href="/resource/common/common.css" rel="stylesheet">
    <script th:inline="javascript">
        // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
        const params = JSON.parse('[( ${@rq.paramsJsonStr} )]');
    </script>
</head>

<body class="min-h-screen min-w-fit flex flex-col">
<nav class="w-full navbar bg-base-100 flex drop-shadow-md">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="/test">MBTI Test</a></li>
                <li><a href="/member/mypage">My Page</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center justify-content hidden sm:block">
        <a href="/shop" class="btn btn-ghost normal-case">PLANBTI</a>
    </div>
    <div class="navbar-end pr-4">
        <a href="#" class="btn btn-ghost btn-circle">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <a href="/map" class="btn btn-ghost btn-circle">
            <i class="fa-regular fa-map"></i>
        </a>
        <a href="#" class="btn btn-ghost btn-circle">
            <i class="fa-regular fa-heart"></i>
        </a>
        <a href="/member/shoppingbasket" class="btn btn-ghost btn-circle">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <a href="/member/login" class="btn btn-active btn-sm">
            Sign in
        </a>
    </div>
</nav>

<div class="min-h-fit min-w-fit grow flex flex-row">
    <ul class="menu bg-base-100 w-60 pt-32 p-12 flex flex-none justify-start">
        <li class="font-black text-lg m-4">회원 관리</li>
        <li><a href="/adm/members">회원 목록</a></li>
        <li><a href="/adm/faq">문의 내역</a></li>
        <li><a href="/adm/reviews">상품평 내역</a></li>
        <li class="font-black text-lg m-4">상품 관리</li>
        <li><a href="/adm/productRegister">상품 등록</a></li>
        <li><a href="/adm/productList">상품 목록</a></li>
        <li class="font-black text-lg m-4">배송 관리</li>
        <li><a href="#">배송 현황</a></li>
        <li><a href="#">교환 내역</a></li>
        <li><a href="#">반품 내역</a></li>
        <li class="font-black text-lg m-4">결제 관리</li>
        <li><a href="#">결제 내역</a></li>
        <li><a href="#">품목별 매출 현황</a></li>
    </ul>
    <main layout:fragment="main"></main>
</div>

<script th:inline="javascript">
    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";

            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });
</script>
<footer class="w-full flex content-end bg-green-100 py-8">
    <div class="container mx-auto text-center">
        <p><i class="fa-regular fa-copyright"></i> 2023 <b>PLANBTI</b>. All rights reserved.</p>
    </div>
</footer>
</body>

</html>