<html layout:decorate="~{adm/admLayout.html}">

<head>
    <title>FAQ List | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="container min-h-screen m-16">
    <div class="flex">
        <table class="grow table table-zebra">
            <p class="text-2xl" th:if="${#lists.isEmpty(faqList)}">
                문의 내역이 없습니다.
            </p>
            <thead th:if="${!#lists.isEmpty(faqList)}">
            <tr>
                <th>FAQ</th>
                <th>Category</th>
                <th>Username</th>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="faq : ${faqList}">
                <th th:text="${faq.getId()}" class="w-20"></th>
                <td th:text="${faq.getCategory().name()}" class="w-40"></td>
                <td th:text="${faq.getMember().username}" class="w-40"></td>
                <td th:text="${faq.getTitle()}" ><a th:href="@{/faq/detail/{id}(id=${faq.getId()})}"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>

</html>