<html layout:decorate="~{common/layout.html}">

<head>
    <title>Admin Main | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="container min-h-screen max-w-2xl">
    <ul class="menu bg-base-100 w-56 m-10 flex justify-start">
        <li class="font-black text-lg m-4">회원 관리</li>
        <li><a href="#">회원 목록</a></li>
        <li><a href="#">문의 내역</a></li>
        <li><a href="#">상품평 내역</a></li>
        <li class="font-black text-lg m-4">상품 관리</li>
        <li><a href="#">상품 등록</a></li>
        <li><a href="#">상품 목록</a></li>
        <li class="font-black text-lg m-4">배송 관리</li>
        <li><a href="#">배송 현황</a></li>
        <li><a href="#">교환 내역</a></li>
        <li><a href="#">반품 내역</a></li>
        <li class="font-black text-lg m-4">결제 관리</li>
        <li><a href="#">결제 내역</a></li>
        <li><a href="#">품목별 매출 현황</a></li>
    </ul>
</main>

</body>

</html>