<html layout:decorate="~{adm/admLayout.html}">

<head>
    <title>Members | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="container min-h-screen m-16 max-w-2xl">
    <div class="flex">
        <div class="overflow-x-auto">
            <p class="text-2xl" th:if="${#lists.isEmpty(members)}">
                회원이 없습니다.
            </p>
            <table class="table w-full" th:if="${!#lists.isEmpty(members)}">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                </thead>
                <tbody th:each="member: ${members}">
                <tr>
                    <td th:text="${member.getId()}"></td>
                    <td th:text="${member.getUsername()}"></td>
                    <td th:text="${member.getEmail()}"></td>
                    <td th:text="${member.getPhoneNumber()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>

</html>