<html layout:decorate="~{adm/admLayout.html}">

<head>
    <title>Members | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="container min-h-screen m-16 w-full">
    <div class="flex">
            <p class="text-2xl" th:if="${#lists.isEmpty(members)}">
                회원이 없습니다.
            </p>
            <table class="table w-full" th:if="${!#lists.isEmpty(members)}">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
                </thead>
                <tbody th:each="member: ${members}">
                <tr>
                    <td th:text="${member.getId()}" class="w-20"></td>
                    <td th:text="${member.getUsername()}" class="w-60"></td>
                    <td th:text="${member.getEmail()}" class="w-60"></td>
                    <td th:text="${member.getPhoneNumber()}"></td>
                </tr>
                </tbody>
            </table>
    </div>
</main>

</body>

</html>