<html layout:decorate="~{adm/admLayout.html}">

<head>
    <title>상품 수정 | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="min-h-screen my-16 min-w-screen w-full">
    <div class="flex flex-col justify-center">
        <p class="text-2xl font-black my-12 text-center">상품 수정</p>

        <div class="flex flex-col h-full w-full">
            <img id="imgId" style="height: 400px; width: 400px;" class="m-12 mx-auto" th:src="${product.imageUrl}" th:if="${product.imageUrl != null}"/>
            <div class="flex flex-col max-w-2xl mx-auto">
                <form th:action="@{/adm/modifypro}" role="form" th:method="post" autocomplete="off" id="uploadForm"
                      enctype="multipart/form-data">
                    <label>카테고리</label>
                    <select class="category select select-bordered w-24" name="category">
                        <option th:value="${category.id}" th:each="category : ${categories}"
                                th:text="${category.name}"></option>
                    </select>

                    <input type="text" name="id" th:value="${product.getId()}" class="input input-bordered w-full mt-12"/>

                    <input type="text" name="name" th:value="${product.getName()}"
                           class="input input-bordered w-full mt-12"/>

                    <input type="text" name="price" th:value="${product.getPrice()}"
                           class="input input-bordered w-full mt-12"/>

                    <input type="text" name="salePrice" th:value="${product.getSalePrice()}"
                           class="input input-bordered w-full mt-12"/>

                    <input type="text" name="count" th:value="${product.getCount()}"
                           class="input input-bordered w-full mt-12"/>

                    <input type="text" name="content" class="input input-bordered w-full my-12"
                           th:attr="placeholder=${product.getContent() == null ? '상품 소개를 입력하세요' : ''},
                value=${product.getContent() != null ? product.getContent() : ''}"/>

                    <label>이미지 재업로드</label>
                    <input type="file" name="file" class="file-input file-input-bordered file-input-success w-full"/>
                    <button type="submit" id="register_Btn" class="btn btn-success w-full my-12">등록</button>
                </form>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const productCategoryId = /*[[${product.category.id}]]*/ null;
        $("select[name=category]:last").val(productCategoryId);
    </script>

</main>

</body>
</html>