<html layout:decorate="~{adm/admLayout.html}">

<head>
    <title>Members | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="min-h-screen my-16 min-w-screen w-full">
    <div class="flex mr-12">
        <p class="text-2xl" th:if="${#lists.isEmpty(products)}">
            상품이 없습니다.
        </p>
        <table class="table w-fit" th:if="${!#lists.isEmpty(products)}">
            <thead>
            <tr>
                <th>상품 id</th>
                <th>상품명</th>
                <th>수량</th>
                <th>할인가</th>
                <th>가격</th>
                <th>등록날짜</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody  th:each="product: ${products}">
            <tr>
                <td th:text="${product.getId()}"></td>
                <td th:text="${product.getName()}"class="w-60" ></td>
                <td th:text="${product.getCount()}"></td>
                <td th:text="${product.getSalePrice()}"class="w-60"></td>
                <td th:text="${product.getPrice()}"></td>
                <td th:text="${product.getCreateDate()}" class="w-60"></td>
                <td th:text="${product.getDeleteDate()}" class="w-60"></td>
                <td th:if="${product.deleteDate == null}"><a class="btn btn-outline"  th:href="@{/adm/deleteProduct/{id}(id=${product.getId()})}">삭제</a></td>
                <td th:if="${product.deleteDate != null}"><a class="btn btn-outline" >삭제됨</a></td>
                <td th:if="${product.deleteDate == null}"><a class="btn btn-outline" th:href="@{/adm/modifyProduct/{id}(id=${product.getId()})}">수정</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

</body>

</html>