<html layout:decorate="~{adm/admLayout.html}">

<head>
  <title>Product Modify| PLANBTI</title>
</head>
<style>
  .inputArea{
    width: 500px;
    margin: 0 auto;
    margin-top:40px
  }
  .layout input {
    width: 100%;
    box-sizing: border-box;

  }
  .layout  textarea{
    width: 100%;
    margin-top:10px;
    min-height: 300px ;
  }

</style>

<body>

<main layout:fragment="main" class="min-w-fit min-h-full">
  <p class="text-2xl pt-36">상품 수정 페이지입니다.</p>


  <img id="imgId" th:src="${product.imageUrl}" th:if="${product.imageUrl != null}" />

  <form th:action="@{/adm/modifypro}" role="form" th:method="post" autocomplete="off"  id="uploadForm" enctype="multipart/form-data">

    <div class="w-full h-full flex flex-col justify-center items-center">
      <label>카테고리</label>
      <select class="category" name="category" >
        <option th:value="${category.id}" th:each="category : ${categories}" th:text="${category.name}"></option>
      </select>

      <script th:inline="javascript">
        const productCategoryId = /*[[${product.category.id}]]*/ null;
        $("select[name=category]:last").val(productCategoryId);
      </script>

      <input type="text" name="id" th:value="${product.getId()}" class="input input-bordered w-full mt-12" />

      <input type="text" name="name" th:value="${product.getName()}" class="input input-bordered w-full mt-12" />

      <input type="text" name="price" th:value="${product.getPrice()}" class="input input-bordered w-full mt-12"/>

      <input type="text" name="salePrice" th:value="${product.getSalePrice()}" class="input input-bordered w-full mt-12"/>

      <input type="text" name="count" th:value="${product.getCount()}" class="input input-bordered w-full mt-12"/>

      <input type="text" name="content" class="input input-bordered w-full mt-12"
             th:attr="placeholder=${product.getContent() == null ? '상품 소개를 입력하세요' : ''},
                value=${product.getContent() != null ? product.getContent() : ''}" />


      <label>이미지 재업로드</label> <input type="file" name="file" class="file-input file-input-bordered file-input-accent w-full max-w-xs"/>

      <button type="submit" id="register_Btn" class="btn btn-primary">등록</button>

    </div>


  </form>


</main>

</body>
</html>