<html layout:decorate="~{adm/admLayout.html}">

<head>
    <title>상품 등록 | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="min-h-screen my-16 min-w-screen w-full">
    <div class="flex flex-col justify-center">
        <p class="text-2xl font-black my-12 text-center">상품 등록</p>

        <div class="flex flex-col max-w-2xl mx-auto">
            <form th:action="@{/adm/registerpro}" role="form" th:method="post" autocomplete="off" id="uploadForm"
                  enctype="multipart/form-data">
                <label>카테고리</label>
                <select class="category select select-bordered w-24" name="category">
                    <option th:each="category : ${categories}" th:text="${category.name}"></option>
                </select>

                <input type="text" name="name" placeholder="상품명을 입력하세요" class="input input-bordered w-full mt-12"/>

                <input type="text" name="price" placeholder="상품 정가를 입력하세요"
                       class="input input-bordered w-full mt-12"/>

                <input type="text" name="salePrice" placeholder="상품 판매가를 입력하세요"
                       class="input input-bordered w-full mt-12"/>

                <input type="text" name="count" placeholder="상품 수량을 입력하세요"
                       class="input input-bordered w-full mt-12"/>

                <input type="text" name="content" placeholder="상품 소개를 입력하세요"
                       class="input input-bordered w-full mt-12"/>

                <input type="file" name="file"
                       class="file-input file-input-bordered file-input-success w-full my-12"/>

                <button type="submit" id="register_Btn" class="btn btn-success w-full mb-12">등록</button>

            </form>
        </div>
    </div>


</main>

</body>
</html>