<html layout:decorate="~{adm/admLayout.html}">

<head>
    <title>상품 등록 | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="w-full h-full m-16 flex justify-center">
    <div class="flex flex-col">
        <p class="text-2xl font-black pt-12 mb-12">상품 등록</p>

        <form action="/prodcutRegister/registerpro" role="form" method="post"
              class="flex flex-col gap-4" autocomplete="off" id="uploadForm" enctype="multipart/form-data">
            <div>
                <label class="mr-12">카테고리</label>
                <select class="select select-bordered w-36 max-w-xs">
                    <option value="">istj</option>
                    <option value="">isfj</option>
                    <option value="">infj</option>
                    <option value="">intj</option>
                    <option value="">istp</option>
                    <option value="">isfp</option>
                    <option value="">infp</option>
                    <option value="">estp</option>
                    <option value="">esfp</option>
                    <option value="">enfp</option>
                    <option value="">entp</option>
                    <option value="">estj</option>
                    <option value="">esfj</option>
                    <option value="">enfj</option>
                    <option value="">entj</option>
                </select>
            </div>

            <div class="flex flex-row">
                <label for="productName" class="w-24 mr-2">상품명</label>
                <input type="text" id="productName" placeholder="상품명을 입력하세요."
                       class="input input-bordered w-full max-w-xs"/>
            </div>

            <div class="flex flex-row">
                <label for="productPrice" class="w-24 mr-2">상품 가격</label>
                <input type="text" id="productPrice" placeholder="상품 가격을 입력하세요."
                       class="input input-bordered w-full max-w-xs"/>
            </div>

            <div class="flex flex-row">
                <label for="productCount" class="w-24 mr-2">상품 수량</label>
                <input type="text" id="productCount" placeholder="상품 수량을 입력하세요."
                       class="input input-bordered w-full max-w-xs"/>
            </div>

            <div class="flex flex-row">
                <label for="productContent" class="w-24 mr-2">상품 소개</label>
                <textarea class="textarea textarea-bordered w-80" id="productContent"
                          placeholder="상품 소개를 입력하세요."></textarea>
            </div>

            <div class="flex flex-row">
                <label class="w-24 mr-2">파일 등록</label>
                <input type="file" class="file-input file-input-bordered file-input-success w-full max-w-xs"/>
            </div>

            <div>
                <button type="submit" id="register_Btn" class="btn btn-outline btn-success">등록</button>
            </div>
        </form>
    </div>
</main>

</body>
</html>