<html layout:decorate="~{common/layout.html}">

<head>
    <title>ABOUT | PLANBTI</title>
</head>

<body>

<main layout:fragment="main" class="w-screen h-full">
    <div class="w-8/12 h-full flex flex-col mx-auto items-center justify-center">
        <img src="https://plan-bti.cdn.ntruss.com/image.png" />
        <a href="" class="btn btn-outline btn-success w-96 my-6">테스트하러 가기</a>
        <a href="" class="btn btn-success w-96 mb-6">사이트 둘러보기</a>
    </div>
</main>

</body>

</html>