<!DOCTYPE html>
<html data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/87140d707c.js" crossorigin="anonymous"></script>
    <script src="/resource/common/common.js"></script>
</head>

<body class="flex flex-col">
<nav class="navbar bg-base-100 flex drop-shadow-md">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="#">MBTI Test</a></li>
                <li><a href="#">My Page</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center justify-content hidden sm:block">
        <a class="btn btn-ghost normal-case" id="title">PLANBTI</a>
    </div>
    <div class="navbar-end pr-4">
        <button class="btn btn-ghost btn-circle">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button class="btn btn-ghost btn-circle">
            <i class="fa-regular fa-map"></i>
        </button>
        <button class="btn btn-ghost btn-circle">
            <i class="fa-regular fa-heart"></i>
        </button>
        <button class="btn btn-ghost btn-circle">
            <i class="fa-solid fa-cart-shopping"></i>
        </button>
        <button class="btn btn-ghost">
            Sign in
        </button>
        <button class="btn btn-active btn-sm">
            Sign up
        </button>
    </div>
</nav>

<main layout:fragment="main" class="container mx-auto py-8 grow">
    <nav class="nav" role="navigation">
        <ul class="navlist">
            <li><label>ISTJ</label></li>
            <li><label>ISFJ</label></li>
            <li><label>INFJ</label></li>
            <li><label>INTJ</label></li>
            <li><label>ISTP</label></li>
            <li><label>ISFP</label></li>
            <li><label>INFP</label></li>
            <li><label>INTP</label></li>
            <li><label>ESTP</label></li>
            <li><label>ESFP</label></li>
            <li><label>ENFP</label></li>
            <li><label>ENTP</label></li>
            <li><label>ESTJ</label></li>
            <li><label>ESFJ</label></li>
            <li><label>ENFJ</label></li>
            <li><label>ENTJ</label></li>
        </ul>
    </nav>
</main>

<footer class="bg-green-100 py-8">
    <div class="container mx-auto text-center">
        <p><i class="fa-regular fa-copyright"></i> 2023 <b>PLANBTI</b>. All rights reserved.</p>
    </div>
</footer>
</body>

</html>